BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
MONGO_DB_URL=
MONGODB_DB=clawmind
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
ENCRYPTION_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
